@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: min-content;

    grid-template-areas: 
    "header    header    header    header    header"
    "main      main      main      main      main"
    "main      main      main      main      main"
    "footer    footer    footer    footer    footer";
}


header {
    margin: 0;
    background-color: #2C4928;
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo img{
    padding: 0px 10px 0px 10px;
}

nav{
    min-height: 50px;
    background-color: #2C4928;
    padding: 15px 20px 15px 20px;
    margin: 0;
    clear: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-evenly;
}

.ul {
    list-style: none;
    text-align: center;
}

.ul .link {
    display: inline-block;
    text-decoration: none;
}

.ul .link a {
    color: beige;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
}

.ul .link a:hover {
    background-color: #ffffff44;
    border-radius: 10px;
}
/* 
.link {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
} */

.link a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.simbApoie {
    background-color: #1c3019;
    border-radius: 20px;
}

.ul .link .simbApoie:hover {
    background-color: #ffffff44;
    border-radius: 20px;
}

@media screen and (max-width: 1200px){
    header{
        flex-direction: column;
        width: 100%;
    }

    nav{
        justify-content: center;
    }
    .ul .link a {
        font-size: 16px;
    }
}

@media screen and (max-width: 950px){
    header{
        width: 100%;
    }
    .ul .link a {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px){
    header{
        width: 100%;
    }

    nav{
        flex-direction: column;
    }
    .ul .link a {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
    }
    .ul .link a {
        font-size: 11px;
    }
}